@{
    ViewBag.Title = "حذف الطلبات";
    Layout = "~/Views/Shared/_layout2.cshtml";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">


<img src="~/img/header.PNG" style="height: 70px; width:1865px; margin-bottom: 30px;margin-top:100px" />
<div class=" row">
    <div class="col-sm-2 ">


        <a href="@Url.Action("DeleteOrders", "userhome")" target="_blank">
            <img src="~/img/14.png" style="margin-right:5px" />
        </a>
    </div>

    <div class="col-sm-2 ">


        <a href="@Url.Action("DeleteIncomeNo", "userhome")" target="_blank">
            <img src="~/img/15.png" style="margin-right:0px" />
        </a>
    </div>


    <div class="col-sm-2 ">

        
        <a href="@Url.Action("options", "userhome")" target="_blank">
            <img src="~/img/mai.png" style="margin-right:-5px" />
        </a>
    </div>


</div>




</div>

<img src="~/img/bt.PNG" style="height:30px; width:1870px;margin-bottom: 30px;margin-top:20px" />



