

@using (Html.BeginForm("exportcases", "userhome")) { 
<div style="margin-top:200px;margin-right:200px;">
   <label style="margin-right:900px">Date</label> 
<input type="date"    name="date" class="form-control" />
    <input type="submit" value="export" class="btn btn-success " style="margin-right: -120px; margin-top: 50px;" />
</div>
}