

@using (Html.BeginForm("exportcases", "userhome")) { 
<div class="form-group" style="margin-top: 10em">
    <label style="float: left">Date</label> 
    <input type="date"  name="date" class="form-control" />
    <input type="submit" value="export" class="btn btn-block btn-success" style="width: 40%;margin: 1.2em auto 0;font-weight: bold"/>
</div>
}