@{
    ViewBag.Title = "reviewer";
}



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">


<img src="~/img/heaader1.PNG" style="height: 70px; width:1865px; margin-bottom: 30px;margin-top:50px;" />
@*<link rel="icon" href="~/Content/logo.jpg" title="إدارة المساحة العسكرية" />*@
<img src="~/img/header1.PNG" style="height: 70px; width:1865px; margin-bottom: 30px;margin-top:-10px" />
<div class=" row">




    <div class="col-sm-2 ">


        <a href="@Url.Action("ReferencesApproval", "userhome")" target="_blank">
            <img src="~/img/refrenceapproval.png" style="margin-right:-5px" />
        </a>
    </div>

</div>

<img src="~/img/bt.PNG" style="height:30px; width:1870px;margin-bottom: 30px;margin-top:20px" />
<style>
    a:hover {
        text-decoration: none;
        color: #546C66;
    }

    a:active {
        text-decoration: none;
        color: #546C66;
    }
</style>
