@{
    ViewBag.Title = "دراسه";
    Layout = "~/Views/Shared/_layout2.cshtml";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<style>
    .immg {
        margin-right: -50px;
    }
    @@media screen and (max-width: 1800px) {


        .divstd {
            margin-right: -400px;
          
        }
    }

   

</style>
<img src="~/img/heaader1.PNG" style="height: 70px; width:1865px; margin-bottom: 30px;margin-top:50px;" />
@*<link rel="icon" href="~/Content/logo.jpg" title="إدارة المساحة العسكرية" />*@
<img src="~/img/header1.PNG" style="height: 70px; width:1865px; margin-bottom: 30px;margin-top:-10px" />
<div class=" row divstd ">

    <div class="col-sm-2 col-lg-2 col-md-2  col-xs-2  ">


        <a href="@Url.Action("Variables_center_decision", "userhome")" target="_blank">
            <img src="~/img/variablecenter.png" style="margin-right:-10px" class="img-responsive" />
        </a>
    </div>

    <div class="col-sm-2  col-lg-2 col-md-2  col-xs-2">


        <a href="@Url.Action("archive", "userhome")" target="_blank">
            <img src="~/img/archive.png" style="margin-right:-10px;width:315px" class="img-responsive" />

        </a>
    </div>

    </div>
    

<img src="~/img/bt.PNG" style="height:30px; width:1870px;margin-bottom: 30px;margin-top:20px" />
    <style>
        a:hover {
            text-decoration: none;
            color: #546C66;
        }

        a:active {
            text-decoration: none;
            color: #546C66;
        }
    </style>
