@model IEnumerable<TaQNIN1.Models.ApplicationUser>
@using GridMvc.Html
@{
    ViewBag.Title = "تغيير كلمه السر";
}

<style>
    .grid-mvc {
        font-size: 14px;
        width: 800px;
        margin-left: 1000px;
        margin-top: 60px;
    }

        .grid-mvc .grid-wrap table {
            border: 1px solid #7A7777;
        }

            .grid-mvc .grid-wrap table thead {
                background: #238F89;
                color: #fff;
            }

                .grid-mvc .grid-wrap table thead .grid-header .grid-header-title a {
                    color: #fff;
                }

        .grid-mvc .grid-wrap .grid-footer .grid-pager ul {
            margin-top: 10px;
        }

            .grid-mvc .grid-wrap .grid-footer .grid-pager ul li {
                padding: 5px 10px;
                border: 1px solid #eee;
                display: contents;
            }

    .coll1 {
        margin-right: 40px;
    }

    .hidicon {
        margin-right: 1120px;
        color: #2BAF80;
    }

    .adddata {
        background-color: #F4511E;
        color: white;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<h2 class="text-center" style="margin-top: 120px; color: #546C66">الارشيف</h2>
<hr />

<div style="border: 1px solid #EEEEEE; background-color: #F9F9F9; height: 60px; margin-top: 30px; ">
    <input type="button" value="البحث" onclick="showdiv();" style="background-color: #1F9089; color: whitesmoke; margin-top: 10px; margin-right: 20px; " />
    <a href="javascript:hidediv();">
        <i class="fas fa-compress-arrows-alt hidicon" onclick="hidediv();"></i>
    </a>
</div>


@Html.Grid(Model).Columns(columns =>
{
    columns.Add(m => m.UserName).Titled(" اسم المستخدم").Css("text-right").Filterable(true);

    columns.Add(m => m.userrole).Titled("الدور").Css("text-right").Filterable(true);

    columns.Add().Encoded(false).Sanitized(false).SetWidth("2%").Css("update").RenderValueAs(o => Html.ActionLink("تغيير كلمه السر", "Manage", "Account",new {                                                     // routeValues
        username = o.UserName

    }, new { @class = "btn btn-info font-weight-bold  text-capitalize update" }));
 

   
}).WithPaging(20)